body{
	font-family: 'Roboto Mono', monospace;
	font-size: 1.2em;



}
#bashir{
	width: 60px;
}
.nav-link{
	color: white;
	font-weight: bolder;
	border-right: 2px solid #000;
}
.full-width{
	width: 100%;
	height: 700px;
}
/*.bg-image{*/
	/*background: url(./images/bashir.jpeg);*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
/*}*/

.bg-image {

	background-image: url("../images/bgimg4.jpg");
	height: 700px;

}
#imgtext{
	padding-top: 10%;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	margin: 0 auto;
	/*font-family: 'Permanent Marker', cursive;*/
	font-family: 'Rock Salt', cursive;
}
.btn-main{
	margin-top: 10%;
	margin-left: 45%;
}

